<!DOCTYPE html>
<html
  lang="es"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{base::Layout(~{::section})}"
>
  <head>
    <meta charset="UTF-8" />
    <title>Mi Primera Pagina Web</title>
  </head>

  <body>
    <section class="py-5">
      <div class="container">
        <div
          class="row justify-content-center align-items-center shadow-lg rounded-4 overflow-hidden"
        >
          <!-- Imagen lateral -->
          <div class="col-md-6 d-none d-md-block p-0">
            <img
              src="img/eperu.png"
              alt="Electro Perú"
              class="img-fluid w-100 h-100"
              style="object-fit: cover"
            />
          </div>

          <!-- Formulario -->
          <div class="col-12 col-md-6 bg-white p-5">
            <div class="card border-0">
              <div class="card-header bg-white border-0">
                <h3 class="text-center text-primary fw-bold mb-0">
                  Restaurar Contraseña
                </h3>
              </div>
              <!-- Mensaje de éxito -->
              <th:block th:if="${successMsg}">
                <div
                  class="alert alert-success alert-dismissible fade show"
                  role="alert"
                >
                  <span th:text="${successMsg}"></span>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"
                  ></button>
                </div>
              </th:block>

              <!-- Mensaje de error -->
              <th:block th:if="${errorMsg}">
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  role="alert"
                >
                  <span th:text="${errorMsg}"></span>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"
                  ></button>
                </div>
              </th:block>

              <div class="card-body">
                <div class="container mt-4">
                  <form action="/reset-password" method="post">
                    <div class="mb-4">
                      <label class="form-label fw-semibold"
                        >Nueva contraseña</label
                      >
                      <input
                        type="password"
                        name="password"
                        class="form-control form-control-lg"
                        placeholder="Nueva contraseña"
                        required
                      />
                    </div>

                    <div class="mb-4">
                      <label class="form-label fw-semibold"
                        >Confirmar contraseña</label
                      >
                      <input
                        type="password"
                        name="confirmPassword"
                        class="form-control form-control-lg"
                        placeholder="Confirma tu contraseña"
                        required
                      />
                    </div>

                    <input type="hidden" th:value="${token}" name="token" />

                    <button type="submit" class="btn btn-primary w-100">
                      Cambiar contraseña
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
